$primary-bg: #181818;
$secondary-bg: #202020;
$base-font-size: 14px;
$container-width: calc((1000px / $base-font-size) * 1rem);
$aside-width: calc((300px / $base-font-size) * 1rem);
$main-gap: calc((50px / $base-font-size) * 1rem);
$menu-padding: calc((15px / $base-font-size) * 1rem);
